<div class="collapse" id="service{{data.id}}">
  <ul class="nav flex-column ms-3">
    <!-- Drifters -->
    <li>
      <a class="nav-link" data-bs-toggle="collapse" href="#driftersMenu">
        Drifters
      </a>

      <div class="collapse" id="driftersMenu">
        <ul class="nav flex-column ms-3">
          <li><a class="nav-link" href="#">RD314 Drifter</a></li>
          <li><a class="nav-link" href="#">X5 Drifter</a></li>
          <li><a class="nav-link" href="#">RD X5 Drifter</a></li>
          <li><a class="nav-link" href="#">HLX 1 Drifter</a></li>
          <li><a class="nav-link" href="#">RD106 Drifter</a></li>
        </ul>
      </div>
    </li>

    <!-- Torque Converters -->
    <li>
      <a class="nav-link" data-bs-toggle="collapse" href="#convertorMenu">
        Torque Converters
      </a>

      <div class="collapse" id="convertorMenu">
        <ul class="nav flex-column ms-3">
          <li>
            <a class="nav-link" href="#">8000 CL Converter (Lock-Up)</a>
          </li>
          <li>
            <a class="nav-link" href="#">8000 Converter (Non Lock-Up)</a>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</div>
