{% load static %}
<!-- ======= Navbar  ======= -->
<nav
  class="navbar navbar-expand-lg navbar-light bg-light navbar_container py-3 fixed-top shadow"
>
  <div class="container">
    <a
      class="navbar-brand navbar_title d-flex align-items-center gap-3"
      href="{% url 'index' %}"
      hx-get="{% url 'index' %}"
      hx-target="#content"
      hx-push-url="true"
    >
      <img
        src="{% static '/images/no_bg_offtrack.png' %}"
        alt=""
        class="d-inline-block align-text-top navbar_logo"
      />
    </a>
    <button
      class="navbar-toggler border-0"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasExample"
      aria-controls="offcanvasExample"
    >
      <i class="bi bi-list menu_icon"></i>
    </button>
    <div
      class="collapse navbar-collapse"
      id="navbarSupportedContent d-flex align-items-center "
    >
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            href="{% url 'index' %}"
            hx-get="{% url 'index' %}"
            hx-target="#content"
            hx-push-url="true"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            href="{% url 'about' %}"
            hx-get="{% url 'about' %}"
            hx-target="#content"
            hx-push-url="true"
            >About</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            href="{% url 'marketplace' %}"
            hx-get="{% url 'marketplace' %}"
            hx-target="#content"
            hx-push-url="true"
            >Marketplace</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            href="{% url 'services' %}"
            hx-get="{% url 'services' %}"
            hx-target="#content"
            hx-push-url="true"
            >Services</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            href="{% url 'contract' %}"
            hx-get="{% url 'contract' %}"
            hx-target="#content"
            hx-push-url="true"
            >Contact</a
          >
        </li>
      </ul>

      <div class="d-flex">
        <a
          href="{% url 'contract' %}"
          hx-get="{% url 'contract' %}"
          hx-target="#content"
          hx-push-url="true"
        >
          <button
            class="btn btn-dark orange_secondary_btn d-flex justify-content-center gap-3 fw-bold px-4 py-3"
          >
            Get Support <i class="bi bi-arrow-right"></i>
          </button>
        </a>
      </div>
    </div>
  </div>
</nav>

<!-- ======= OFFCANVAS MENU  ======= -->
<div
  class="offcanvas offcanvas-start"
  tabindex="-1"
  id="offcanvasExample"
  aria-labelledby="offcanvasExampleLabel"
>
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel"></h5>
    <button
      type="button"
      class="btn-close text-reset"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>
  <div class="offcanvas-body">
    <div class="pt-4">
      <img
        src="{% static '/images/no_bg_offtrack.png' %}"
        alt=""
        class="d-inline-block align-text-top navbar_logo mb-4"
        style="height: 90px !important; width: 100%"
      />
    </div>
    <section>
      <div class="container" style="margin-bottom: 70px; margin-top: 90px">
        <center>
          <a href="{% url 'index' %}">
            <div>
              <i class="bi bi-house sm_menu_icon"></i>
              <h6 class="mb-4 mt-2" style="font-weight: 600">Home</h6>
            </div>
          </a>
          <hr class="my-3 list_border" />
          <a href="{% url 'about' %}">
            <div>
              <i class="bi bi-people sm_menu_icon"></i>
              <h6 class="mb-4 mt-2" style="font-weight: 600">About</h6>
            </div>
          </a>
          <hr class="my-3 list_border" />
          <a href="{% url 'marketplace' %}">
            <div>
              <i class="bi bi-shop sm_menu_icon"></i>
              <h6 class="mb-4 mt-2" style="font-weight: 600">Marketplace</h6>
            </div>
          </a>
          <hr class="my-3 list_border" />
          <a href="{% url 'services' %}">
            <div>
              <i class="bi bi-gear sm_menu_icon"></i>
              <h6 class="mb-4 mt-2" style="font-weight: 600">Services</h6>
            </div>
          </a>
          <hr class="my-3 list_border" />
          <a href="{% url 'contract' %}">
            <div>
              <i class="bi-envelope sm_menu_icon"></i>
              <h6 class="mb-4 mt-2" style="font-weight: 600">Contract Us</h6>
            </div>
          </a>
        </center>
      </div>
    </section>
  </div>
</div>
